@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Space Mono', monospace;
  font-size: calc(14px + 0.3vw);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --green: #00474B;
  --greeninvalid: #0C686D;
  --aquagreen: #27C2AE;
  --lightgreen: #C5E4E7;
  --hovergreen: #9FE8DF;

  --lightgray: #F3F8FB;
  --darkgray: #B7C9C9;

  --alert: #E9BBAC;
}